@import '../../globals.scss';

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $col-spacing-unit;

    .project-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: $row-spacing-unit;
        width: 30rem;

        .project-list-item {
            background-color: $tab-color;
            border-radius: .5rem;
            padding: 0.2rem 0.5rem;
            text-align: center;
        }
    }
}