@import '../../globals.scss';

.project-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0.55;

        img {
            border: 1px solid whitesmoke;
            max-width: 40rem;
            width: 100%;
        }

        img:hover {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        transition: .5s all ease;
    }

    .img-container {
        content: '';
        box-shadow: inset 0 0 10px rgba(255, 255, 255, .5);
        filter: blur(2px) grayscale(90%);
        background: inherit;
        transition: .5s all ease;
    }

    .img-container:hover {
        box-shadow: none;
        filter: none;
        background: none;
    }

    .proj-desc {
        flex: 0.45;

        .proj-name {
            color: $primary-color;
            letter-spacing: $letter-spacing-unit;
        }

        .proj-name:hover {
            color: $default-color;
        }

        .tech {
            color: $primary-color;
            letter-spacing: $letter-spacing-unit;
        }

        .tech:hover {
            color: $default-color;
        }
    }
}