@import "styles/globals.scss";

.app {
  display: block;
  padding-left: 20%;
  padding-right: 20%;
  font-family: $body-font;
  overflow: scroll;
  overflow-x: hidden;
  min-height: 100vh;
}

.app-dark {
  background-color: #121212;
  color: white;
}

.app-light {
  background-color: white;
  color: black;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  width: 0px;
}

.app-dark::-webkit-scrollbar-track {
  background-color: #121212;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888;
  width: 0px;
}

html,
body {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
