@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// Colors
$primary-color: rgb(84, 78, 78);
$secondary-color: darkgray;
$tab-color: whitesmoke;
$default-color: black;
$divider-color: rgb(218, 217, 217);

// Fonts
$body-font: 'Roboto', sans-serif;

// Spacing
$col-spacing-unit: 2rem;
$row-spacing-unit: 1rem;
$letter-spacing-unit: 0.08rem;